.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.control-group {
  margin-bottom: 10px;
}

.video-container {
  position: relative;
}

.hidden {
  display: none;
}

.halftone-svg {
  border: 1px solid #ccc;
}

.ascii-art {
  /* experimentally determine these values */
  line-height: 10px;
  letter-spacing: 3px;
}
